.paper {
    padding: 5px 10px;
}

.form {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
}

.fileInput {
    width : 97%;
    margin: 10px 0;
}

.buttonSubmit {
    margin-bottom: 10;
}

.text-field-wrapper {
    width         : 100%;
    padding-top   : 5px;
    padding-bottom: 5px;
}